.header {
  text-align: center;
}

.container {
  display: flex;
}

.left-container,
.right-container {
  width: 50%;
}

.input-container {
  display: flex;
  align-items: center;
  /* Вирівнюємо елементи по центру */
  margin-bottom: 10px;
}

.select-country {
  width: 306.38px;
  margin-right: 10px;
}

/* Встановлюємо фіксовану ширину для інпутів */
.input-container input[type="text"] {
  width: 290px;
  /* Залишаємо 10px для врахування маргіну */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-button {
  background-color: blue;
  width: 400px;
  height: 80px;
  margin-right: 10px;
  border-radius: 25px;
}

.footer-text {
  margin-left: 10px;
}