/* General styles */

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}

.left-container {
  width: 40%;
  margin-right: 20px;
  /* Зберігаємо відступ справа */
}

.right-container {
  width: 40%;
  margin-left: 20px;
  /* Зберігаємо відступ зліва */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-close {
  display: flex;
  flex-direction: column;
  /* Змінили напрямок відображення на колонку */
  align-items: flex-start;
  margin-top: 2px;
  margin-bottom: 10px;
  /* Додали нижній відступ */
  width: 310px;
  /* Змінили ширину, щоб вона відповідала ширині input */
  position: relative;
  /* Додали відносне позиціонування */
}

.input-with-close label {
  width: 320px;
  /* Збільшили ширину label на 10px */
  text-align: left;
}

.input {
  width: 300px;
  height: 30px;
  margin-top: 2px;
  margin-right: 10px;
  border: 2px solid #adb5bd;
  border-radius: 4px;
  padding: 2px;
}

.select-country {
  width: 310px;
  margin-top: 2px;
  border: 0.1px solid #adb5bd;
  border-radius: 4px;
}

.input:focus,
.select-country:focus {
  border-color: #007bff;
  outline: none;
}

.add-input-button,
.close-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.add-input-button {
  background-color: #3886d2;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  margin-left: 6px;
}

.add-input-button:hover {
  background-color: #1c466f;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: black;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.close-button:hover {
  color: red;
}

.button-container-center {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: #1c466f;
  white-space: nowrap;
  /* Забороняємо перенос тексту */
  overflow: hidden;
  /* Приховуємо текст, що виходить за межі */
  text-overflow: ellipsis;
  /* Додаємо три крапки в кінці якщо текст не вміщується */
}


.search-button {
  background-color: #3886d2;
  width: 400px;
  height: 80px;
  margin-bottom: 80px;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1c466f;
}

.search-button:active {
  background-color: #1c466f;
}

.label {
  margin-bottom: 6px;
  font-weight: bold;
}