.input-container {
  display: flex;
  align-items: center;
  /* Вирівнюємо елементи по центру */
  margin-bottom: 10px;
}

.select-country {
  width: 306.38px;
  margin-right: 10px;
}

/* Встановлюємо фіксовану ширину для інпутів */
.input-container input[type="text"] {
  width: 290px;
  /* Залишаємо 10px для врахування маргіну */
}