.header-container {
    background-color: #1c466f;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1c466f;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.logo {
    width: 64px;
    height: 64px;
}

.title-container {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.contacts-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.contacts-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.contacts-link:hover {
    text-decoration: underline;
}